## Visual Studio & .NET Core Standard
.vs/
bin/
obj/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.user
*.suo
*.userprefs

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Security & Secrets (MUITO IMPORTANTE)
appsettings.json
appsettings.Development.json
appsettings.Production.json
secrets.json
*.pfx

## Database & EF Core
*.db
*.mdf
*.ldf
migration_script.sql

## Front-end (Node/NPM - caso use para buildar CSS/Tailwind)
node_modules/
npm-debug.log
yarn-error.log

## OS Files
.DS_Store
Thumbs.db
desktop.ini
